body{
    background-color: whitesmoke;
}

.top-container{
    background-image: url(/IMAGES/scribble.jpg);
    font-family: 'BioRhyme', serif;
}

.top-container .name{
    background-color: white;
    font-size: 52px;
    font-weight: bolder;
    padding: 2rem;
}

.top-container .tittle p{
    background-color: white;
    font-size: 32px;
    padding: 1rem;
}

.middle-container{
    color: black;
    font-family: 'Andada Pro', serif;
    font-size: 1.5rem;
    line-height: 2;
    margin-top: 2rem;
    text-align: center;
}

.profile{
    margin: auto;
    padding: 2rem;
    width: 75%;
}

.skill{
    width: 50%;
    margin: auto;
    text-align: left;
}

.contact-me a{
    padding: 0.5rem;
    text-decoration: none;
}

.bottom-container{
    color: rgb(7, 7, 7);
    font-family: 'Andada Pro', serif;
    font-size: 0.5rem;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    
}

.bottom-container .logo{
    border-radius: 50%;
    margin-right: 1rem;
}
