body{
    color: rgb(15, 15, 23);
    font-family: 'Andada Pro', serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.cloud{
    position: absolute;
    left: 5rem;
    top: 4rem;
}

.clouds{
    position: absolute;
    right: 5rem;
    top: 7rem;
}

.icon{
    width: 5rem;
    height: 5rem;
}

.logo{
    width: 2rem;
    height: 2rem;
}

.top-container{
    background-color:rgb(211, 245, 247);
    font-family: 'Satisfy', cursive;
    padding: 7rem;
}

.top-container .tittle{
    font-size: x-large;
    margin: auto;
    padding: 2% 2%;
    text-align: center;
    width: 50%;
}

.top-container .tittle p{
    font-size: medium;
}

.middle-container{
    margin-top: 2rem;
}

.profile{
    margin: auto;
    padding: 2rem;
    width: 75%;
}

.skill{
    width: 50%;
    margin: auto;
    text-align: left;
}

.contact-me a{
    padding: 0.5rem;
    text-decoration: none;
}

.bottom-container{
    margin-top: 2rem;
    padding: 2rem;
    
}

.bottom-container .logo{
    border-radius: 50%;
    margin-right: 1rem;
}

@media (max-width:641px){
    .mountain{
        height: 75%;
        width: 85%;
    }
}
