.top-container #body{
    background-image: url("/IMAGES/scribble.jpg");
    background-color: whitesmoke;
    font-family: 'BioRhyme', serif;
    font-size: 3rem;
    margin-top: 2rem;
    padding: 20rem;
    text-align: center;
}

#body hr{
    width: 45%;
}

.name{
    background-color: white;
}

.name p{
    padding-bottom: 1rem;
}

.middle-container{
    color: black;
    font-family: 'Andada Pro', serif;
    font-size: 2rem;
    line-height: 2;
    margin-top: 2rem;
    text-align: center;
}

.profile{
    margin: auto;
    padding: 2rem;
    width: 75%;
}

.skill{
    width: 50%;
    margin: auto;
    text-align: left;
}

.contact-me a{
    padding: 0.5rem;
    text-decoration: none;
}

.bottom-container{
    color: rgb(7, 7, 7);
    font-family: 'Andada Pro', serif;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    
}

.bottom-container .logo{
    border-radius: 50%;
    margin-right: 1rem;
}
